<%= render :partial => 'layouts/header' %>
<br />
<br />
<div class="span9 offset1 well">
<legend>View Recommendations</legend>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @areco.Title %>
</p>

<p>
  <b>Atitle:</b>
  <%= @areco.Atitle %>
</p>

<p>
  <b>Dtitle:</b>
  <%= @areco.Dtitle %>
</p>

<p>
  <b>Ctitle:</b>
  <%= @areco.Ctitle %>
</p>

<p>
  <b>Status:</b>
  <%= @areco.status %>
</p>

<p>
  <b>Auditor:</b>
  <%= @areco.auditor %>
</p>

<p>
  <b>Reference:</b>
  <%= @areco.reference %>
</p>

<p>
  <b>Primary:</b>
  <%= @areco.primary %>
</p>

<p>
  <b>Secondary:</b>
  <%= @areco.secondary %>
</p>

<p>
  <b>Compliance:</b>
  <%= @areco.compliance %>
</p>

<p>
  <b>Verification:</b>
  <%= @areco.verification %>
</p>

<p>
  <b>Priority:</b>
  <%= @areco.priority %>
</p>

<p>
  <b>Severity:</b>
  <%= @areco.severity %>
</p>

<p>
  <b>Target:</b>
  <%= @areco.target %>
</p>

<p>
  <b>Closed:</b>
  <%= @areco.closed %>
</p>

<p>
  <b>Auditee:</b>
  <%= @areco.auditee %>
</p>

<p>
  <b>Atartget:</b>
  <%= @areco.atartget %>
</p>

<p>
  <b>Apriority:</b>
  <%= @areco.apriority %>
</p>

<p>
  <b>Aseverity:</b>
  <%= @areco.aseverity %>
</p>

<p>
  <b>Dependent:</b>
  <%= @areco.dependent %>
</p>

<p>
  <b>Duplicate:</b>
  <%= @areco.duplicate %>
</p>

<p>
  <b>Blocked:</b>
  <%= @areco.blocked %>
</p>

<p>
  <b>Refer:</b>
  <%= @areco.refer %>
</p>

<p>
  <b>Org:</b>
  <%= @areco.org %>
</p>

<p>
  <b>Level:</b>
  <%= @areco.level %>
</p>

<p>
  <b>Ctarget:</b>
  <%= @areco.ctarget %>
</p>

<p>
  <b>Type:</b>
  <%= @areco.compliancetype %>
</p>

<p>
  <b>Kind:</b>
  <%= @areco.kind %>
</p>

<p>
  <b>Ddtitle:</b>
  <%= @areco.ddtitle %>
</p>

<p>
  <b>Dreference:</b>
  <%= @areco.dreference %>
</p>

<p>
  <b>Description:</b>
  <%= @areco.description %>
</p>

<p>
  <b>Verified:</b>
  <%= @areco.verified %>
</p>

<p>
  <b>Confidential:</b>
  <%= @areco.confidential %>
</p>

<p>
  <b>Dtype:</b>
  <%= @areco.dtype %>
</p>


<%= link_to 'Edit', edit_areco_path(@areco) %> |
<%= link_to 'Back', arecos_path %>
</div>