<%= render :partial => 'layouts/header' %>
<br />
<br />

<!-- <div class="container"> -->

  <div class="row">
    <div class="span11 offset1 well">
      <h3>Risks Modelisation</h3>
      <legend>Causes</legend>

      <table class="table">
        <tr>
          <th>Title</th>
          <th>Reference</th>    
          <th>Period</th>
          <th>Likelihood</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @rcauses.each do |rcause| %>
        <tr>
          <td><%= rcause.title %></td>
          <td><%= rcause.reference %></td>
          <td><%= rcause.period %></td>
          <td><%= rcause.likelihood %></td>    
          <td><%= link_to '', rcause, :class => "icon-list-alt icon-white" %></td>
          <td><%= link_to '', edit_rcause_path(rcause), :class => "icon-pencil icon-white" %></td>
          <td><%= link_to '', rcause, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon-trash icon-white" %></td>
        </tr>
        <% end %>
      </table>

      <br />
      
      <%= button_to "New", new_rcause_path, :method => :get, :class => "btn btn-primary" %>

    </div>



    <div class="row">      
      <div class="span2 offset well">        
        <legend>Quick Links</legend>
        <p>
          <%= link_to 'Risks', rinits_path %> <br />          
          <%= link_to 'Events', revents_path %> <br />
        </p>        
      </div>
      <div class="span2 offset well">        
        <legend>Goto</legend>
        <p>
          <%= button_to "Risks Management", rgroups_path, :method => :get, :class => "btn btn-success" %>          
        </p>        
      </div>
    </div>
    </div>

 <!--  </div> -->