<div class="container">

	<div class="row">
		<div class="span9 offset1 well">            
			<legend>Edit Event</legend>



			<%= render 'form' %>

			<%= link_to 'Show', @revent %> |
			<%= link_to 'Back', revents_path %>


		</div>

		<div class="row">
			<div class="span2 offset well">        
				<legend>Quick Links</legend>
				<p>
					<%= link_to 'Risks', rinits_path %> <br />          
					<%= link_to 'Events', revents_path %> <br />          
				</p>        
			</div>

			<div class="span2 offset well">        
				<legend>Goto</legend>
				<p>
					<%= button_to "Risks Management", new_rinit_path, :method => :get, :class => "btn btn-success" %>          
				</p>        
			</div>
		</div>
	</div>

</div>